.ignored {
}

body {
    font-family: Consolas;
    margin: 10px;
}

h1 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    float: left;
}

.icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px 5px 0px;
}

.upcomingEventIcon {
    width: 16px;
    height: 16px;
    margin: 0px 5px 5px 0px;
    vertical-align: middle;
    display: inline-block;
    fill: currentColor;
    float: right;
}

.dayNumber {
    font-size: 15px;
}

.eventText {
    font-size: 10px;
    vertical-align: text-top;
    fill: currentColor;
}

.nextMonthsEvents {
    font-size: 12px;
    vertical-align: text-top;
    fill: currentColor;
    float: right;
    width: 50%;
    text-align: right;
}

.empty {
    background-color: #EEE;
}

.page-break {
    page-break-after: always;
}

.page-break::before {
    content: "";
    clear: both;
    display: table;
}

.divTable {
    display: table;
    width: 100%;
    /*height: 100%;*/
    float: left;
}

.divTableRow {
    display: table-row;
}

/*.divTableHeading {*/
    /*background-color: #EEE;*/
    /*display: table-header-group;
}*/

.divTableCell,
.divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    width: 100px;
}

.divTableCellRowHead,
.divTableHeadNarrow {
    border: 1px solid #999999;
    display: table-cell;
    /*padding: 3px 10px;*/
    width: 10px;
}

.divTableCellRowHead {
    text-align: center;
    font-weight: bold;
}

.rotate90 {
    rotate: 180deg;
    writing-mode: vertical-rl;
    /*text-orientation: mixed;*/
}

.divTableCell {
}

.row4Height {
    height: 150px;
}

.row5Height {
    height: 125px;
}

.row6Height {
    height: 100px;
}

.divTableHeading {
    /*background-color: #EEE;*/
    text-align: center;
    display: table-header-group;
    font-weight: bold;
}

.divRowHeading {
    /*background-color: #EEE;*/
    text-align: center;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    /*background-color: #EEE;*/
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.dow1 /* Mon */ {
}
.dow2 /* Tue */ {
}
.dow3 /* Wed */ {
}
.dow4 /* Thu */ {
}
.dow5 /* Fri */ {
}
.dow6 /* Sat */ {
    background-color: #e6f2ff;
}
.dow7 /* Sun */ {
    background-color: #e6f2ff;
}