<dialog id="aboutModal" class="modal" closedby="none" data-bind="with: aboutModel">
    <div class="modal-content">
        <div class="model-header">
            <h2>About</h2>
        </div>
        <div class="modal-body">
            <p>Print Calender, an app which provides a customised and printable calendar.</p>
            <p><b>Shortcuts</b></p>
            <p><code>h</code> or <code>?</code>: Opens this help</p>
            <p><code>m</code>: Opens sidebar menu</p>
            <p><code>l</code>: Opens event management modal</p>
            <p><code>a</code>: Open add event modal</p>
        </div>
        <div class="model-footer">
            <button data-bind="click: close">Close</button>
        </div>
    </div>
</dialog>
