<dialog id="addEventModal" class="modal" closedby="none" data-bind="with: addEvent">
    <div class="modal-content">
        <div class="model-header">
            <!-- ko if: mode() === 'add'-->
            <h2>Add Event</h2>
            <!-- /ko -->
            <!-- ko if: mode() === 'edit'-->
            <h2>Edit Event</h2>
            <!-- /ko -->
        </div>
        <div class="modal-body" data-bind="with: event">
            <div>
                <label for="eventSet">Set:</label>
                <select
                    data-bind="options: $parent.eventSets, value: $parent.selectedEventSet, optionsText: 'name'" name="eventSet"></select>
            </div>
            <div>
                <label for="name">Name:</label>
                <input type="text" data-bind="value: name" name="name" />
                <span class="error"
                    data-bind="visible: !!validationMessages().name, text: validationMessages().name"></span>
            </div>
            <div>
                <label for="date">Date Pattern:</label>
                <input type="text" data-bind="value: datePattern" name="date" />
                <button data-bind="click: () => $parent.createPattern()">Create...</button>
                <span class="error"
                    data-bind="visible: !!validationMessages().datePattern, text: validationMessages().datePattern"></span>
            </div>
            <div>
                <label for="important">Important:</label>
                <input type="checkbox" data-bind="checked: important" name="important" />
            </div>
            <div>
                <label for="color">Color:</label>
                <input type="color" data-bind="value: color" name="color" />
                <span class="error"
                    data-bind="visible: !!validationMessages().color, text: validationMessages().color"></span>
            </div>
            <div>
                <label for="name">Icon:</label>
                <button data-bind="click: () => $parent.changeIcon()">Change...</button>
                <div class="eventText" data-bind="style: { color: color }">
                    <i class="mdi mdi-24px" data-bind="mdi: icon"></i>
                </div>
                
                <span class="error"
                    data-bind="visible: !!validationMessages().icon, text: validationMessages().icon"></span>
            </div>
        </div>
        <div class="model-footer">
            <!-- ko if: mode() === 'add'-->
            <button data-bind="click: addEvent">Add</button>
            <!-- /ko -->
            <!-- ko if: mode() === 'edit'-->
            <button data-bind="click: saveEvent">Save</button>
            <!-- /ko -->
            <button data-bind="click: cancelAddEvent">Cancel</button>
        </div>
    </div>
</dialog>