<div id="calendar" data-bind="with: calendar">
    <!-- <h1 data-bind="text: year"></h1> -->

    <!-- ko foreach: months -->
    <div class="month">
        <h1 data-bind="text: title"></h1>
        <div class="nextMonthsEvents">Next month:

            <!-- ko foreach: nextMonthEvents -->
            <div data-bind="style: { color: color }">
                <i class="upcomingEventIcon mdi" data-bind="mdi: icon"></i>
            </div>
            <!-- /ko -->
        </div>

        <div class="divTable">
            <div class="divTableHeading">
                <div class="divTableRow" data-bind="with: $parent">
                    <!-- ko foreach: weekdays -->
                    <div class="divTableHead" data-bind="text: name"></div>
                    <!-- /ko -->
                </div>
            </div>

            <div class="divTableBody">

                <!-- ko foreach: weeks -->

                <div class="divTableRow">

                    <!-- ko foreach: days -->
                    <td>
                        <!-- ko if: $data !== null -->
                        <div class="divTableCell" data-bind="fitHeight: $parents[1].weeks.length">
                            <div class="dayNumber" data-bind="text: text"></div>


                            <!-- ko foreach: events -->
                            <!-- ko if: !hidden() -->
                            <div class="eventText" data-bind="style: { color: detail.color }">
                                <i class="icon mdi" data-bind="mdi: detail.icon"></i>
                                <span data-bind="text: detail.text"></span>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->

                        </div>
                        <!-- /ko -->

                        <!-- ko if: $data === null -->
                        <div class="divTableCell empty" data-bind="fitHeight: $parents[1].weeks.length"></div>
                        <!-- /ko -->
                    </td>
                    <!-- /ko -->

                </div>

                <!-- /ko -->

            </div>
        </div>

    </div>
    <!-- ko if: $index() != $parent.months().length - 1 -->
    <div class="page-break"></div>
    <!-- /ko -->

    <!-- /ko -->

</div>