<dialog id="datePatternBuilderModal" class="modal" closedby="none" data-bind="with: datePatternBuilder">
    <div class="modal-content">
        <div class="model-header">
            <h2>Build Date Pattern</h2>
        </div>
        <div class="modal-body">
            <div>
                <p data-bind="text: pattern"></p>
            </div>

            <fieldset>
                <legend>Specific</legend>

                <label for="specific-date">Specific Date</label>
                <input type="date" data-bind="datePicker: specificDate" name="specific-date">
            </fieldset>

            <fieldset>
                <legend>Year</legend>


                <label for="every-year">Every Year</label>
                <input type="checkbox" data-bind="checked: everyYear" name="every-year">
                <br />
                <label for="specific-year">Specific Year</label>
                <input type="number" data-bind="value: specificYear, disable: everyYear" name="specific-year">
            </fieldset>

            <fieldset>
                <legend>Month</legend>

                <label for="every-month">Every Month</label>
                <input type="checkbox" data-bind="checked: everyMonth" name="every-month">
                <br />
                <label for="specific-month">Specific Month</label>
                <select
                    data-bind="options: months, value: specificMonth, optionsText: 'name', optionsValue: 'nativeIndex', disable: everyMonth"
                    name="dow"></select>

            </fieldset>

            <fieldset>
                <legend>Day</legend>

                <label for="every-day">Every Day</label>
                <input type="checkbox" data-bind="checked: everyDay" name="every-day">
                <br />
                <label for="specific-day">Specific Day</label>
                <input type="number" data-bind="value: specificDay, disable: everyDay" name="specific-day">
                <br />
                <label for="last-monthday">Last day of month</label>
                <input type="checkbox" data-bind="checked: lastDayOfMonth, disable: everyDay" name="last-monthday">
                <br />
                <label for="dow">Day of Week</label>
                <select
                    data-bind="options: dows, value: dow, optionsText: 'name', optionsValue: 'nativeIndex', disable: everyDay"
                    name="dow"></select>

            </fieldset>

        </div>
        <div class="model-footer">
            <button data-bind="click: accept">Accept</button>
            <button data-bind="click: cancel">Cancel</button>
        </div>
    </div>
</dialog>