<dialog id="importModal" class="modal" closedby="none" data-bind="with: importModel">
    <div class="modal-content">
        <div class="model-header">
            <h2>Import</h2>
        </div>
        <input type="file" id="fileInput" style="display:none" />
        <div class="modal-body">
            <!-- ko if: mode() === 'ready' -->
            <button data-bind="click: uploadEvents">Upload</button>
            <!-- /ko -->

            <!-- ko if: mode() === 'uploading' -->

            <!-- ko foreach: files -->
            <div>
                <div data-bind="text: name"></div>
                <select
                    data-bind="options: importTypes, value: importas, optionsText: 'name'"></select>
                <button data-bind="click: () => $parent.import($data)">Next</button>
                <button data-bind="click: () => $parent.cancelImport($data)">Cancel</button>
            </div>
            <!-- /ko -->

            <!-- /ko -->


            <!-- ko if: mode() === 'importing' -->
            <div data-bind="with: subject">
                <div data-bind="text: name"></div>
                <div data-bind="text: importas().name"></div>

                <table>
                    <tr>
                        <td>text</td>
                        <td>important</td>
                        <td>date</td>
                        <td>icon</td>
                        <td>color</td>
                    </tr>

                    <!-- ko foreach: preview -->
                    <tr>
                        <td data-bind="text: text"></td>
                        <td data-bind="text: important"></td>
                        <td data-bind="text: date"></td>
                        <td data-bind="style: { color: color }">
                            <i class="icon mdi" data-bind="mdi: icon"></i>
                        </td>
                        <td data-bind="text: color, style: { color: color }"></td>
                    </tr>
                    <!-- /ko -->

                </table>
            </div>
            <!-- /ko -->

        </div>
        <div class="model-footer">
            <button data-bind="click: close">Close</button>
        </div>
    </div>
</dialog>