<dialog id="importModal" class="modal" closedby="none" data-bind="with: importModel">
    <div class="modal-content">
        <div class="model-header">
            <h2>Import</h2>
        </div>
        <input type="file" id="fileInput" style="display:none" />
        <div class="modal-body">
            <!-- ko if: mode() === 'ready' -->
            <button data-bind="click: uploadEvents">Upload</button>
            <!-- /ko -->

            <!-- ko if: mode() === 'uploading' -->
            
            <!-- ko foreach: files -->
            <div>
                <div data-bind="text: name"></div>
                <select
                    data-bind="options: importTypes, value: importas, optionsText: 'name', optionsValue: 'id'"></select>
                <button data-bind="click: () => $parent.import($data)">Next</button>
                <button data-bind="click: () => $parent.cancelImport($data)">Cancel</button>
            </div>
            <!-- /ko -->

            <!-- /ko -->


            <!-- ko if: mode() === 'importing' -->
             <div data-bind="with: subject">
                <div data-bind="text: name"></div>
                <div data-bind="text: importas.name"></div>

             </div>
            <!-- /ko -->

        </div>
        <div class="model-footer">
            <button data-bind="click: close">Close</button>
        </div>
    </div>
</dialog>