<script type="text/html" id="heading-template">
    <div data-bind="text: name"></div>
    <!-- ko if: sortable -->
    <button data-bind="click: changeDirection">
        <!-- ko if: direction() === 0 -->
        <i class="button-icon mdi mdi-menu-swap"></i>
        <!-- /ko -->
        <!-- ko if: direction() === 1 -->
        <i class="button-icon mdi mdi-menu-up"></i>
        <!-- /ko -->
        <!-- ko if: direction() === -1 -->
        <i class="button-icon mdi mdi-menu-down"></i>
        <!-- /ko -->
     </button>
     <!-- /ko -->
</script>
<dialog id="allEventsModal" class="modal" closedby="none" data-bind="with: allEvents">
    <div class="modal-content">
        <div class="model-header">
            <h2>Manage Events</h2>
        </div>
        <div class="modal-body">
            <button data-bind="click: clearEvents">Clear</button>
            <button data-bind="click: addEvent">Add</button>
            <input type="text" data-bind="value: search, valueUpdate: 'keyup'" />
            <!-- ko with: events -->
            <table>
                <tr>
                    <!-- ko foreach: headings -->
                     <td>
                        <div data-bind="template: { name: 'heading-template' }"></div>
                    </td>
                    <!-- /ko -->
                </tr>

                <!-- ko foreach: records -->
                <tr>
                    <td data-bind="text: detail.text, strikethrough: hidden"></td>
                    <td data-bind="text: detail.important, strikethrough: hidden"></td>
                    <td data-bind="text: datePattern, strikethrough: hidden"></td>
                    <td data-bind="style: { color: detail.color }">
                        <i class="icon mdi" data-bind="mdi: detail.icon"></i>
                    </td>
                    <td data-bind="text: detail.color, style: { color: detail.color }, strikethrough: hidden"></td>
                    <td>
                        <button data-bind="click: () => $parent.route('hide', $data)" style="color: grey">
                            <i class="button-icon mdi mdi-eye-outline"></i>
                        </button>
                        <button data-bind="click: () => $parent.route('edit', $data)" style="color: blue">
                            <i class="button-icon mdi mdi-pencil-box"></i>
                        </button>
                        <button data-bind="click: () => $parent.route('dupe', $data)" style="color: blue">
                            <i class="button-icon mdi mdi-content-duplicate"></i>
                        </button>
                        <button data-bind="click: () => $parent.route('delete', $data)" style="color: red">
                            <i class="button-icon mdi mdi-delete"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->

            </table>
            <select data-bind="options: pageSizes, value: recordsPerPage"></select>


            <button data-bind="click: firstPage">&lt;&lt;</button>
            <button data-bind="click: previousPage">&lt;</button>
            <button data-bind="click: nextPage">&gt;</button>
            <button data-bind="click: lastPage">&gt;&gt;</button>

            <span data-bind="text: pageNumber() + '/' + totalPages() + ' (' + totalRecords() + ')'"></span>
            <!-- /ko -->
        </div>
        <div class="model-footer">
            <button data-bind="click: close">Close</button>
        </div>
    </div>
</dialog>