<button data-bind="click: () => sidebar.open()" class="sidebar-btn dont-print">☰</button>

<div id="sidebar" class="sidebar">
    <h2>Print Calendar</h2>
    <a class="closebtn" data-bind="click: () => sidebar.close()">&times;</a>

    <button data-bind="click: () => runCommand('import')">Import</button>
    <button data-bind="click: () => runCommand('create')">Add Event</button>
    <button data-bind="click: () => runCommand('manage')">Manage Events</button>
    <button data-bind="click: () => runCommand('settings')">Settings</button>
    <button data-bind="click: () => runCommand('export')">Export</button>
    <button data-bind="click: () => runCommand('about')">About</button>
</div>