.dont-print {
    visibility: hidden !important;
    display: none !important;
}

.sidebar {
    visibility: hidden !important;
    display: none !important;
}

.modal {
    visibility: hidden !important;
    display: none !important;
}