.dont-print {
    visibility: hidden !important;
    display: none !important;
}

.sidebar {
    visibility: hidden !important;
    display: none !important;
}

dialog {
    visibility: hidden !important;
    display: none !important;
}