
body {
    font-family: Consolas;
}

h1 {
    font-size: 32px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td {
    vertical-align: top;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px 5px 0px;
}

.weekday .cell {
}

.dayNumber {
    font-size: 20px;
}

.eventText {
    font-size: 12px;
    vertical-align: text-top;
}

.day .row {
}

.day .cell {
    width: 175px;
    height: 175px;
    padding: 5px;
}

.empty .cell {
    width: 175px;
    height: 175px;
    background-color: grey;
}
